<!DOCTYPE html>
<html>
<head>
    <title>Base {{ base }}</title>
</head>
<body>

<h1>Base: {{ base }}</h1>

<h3>Buscar personaje</h3>
<input id="searchName" placeholder="Nombre del personaje">
<button onclick="searchCharacter()">Buscar</button>

<div id="searchResult"></div>

<h3>Personajes guardados</h3>
<div id="list"></div>

<!-- JavaScript externo -->
<script src="/static/script.js"></script>

<script>
const base = "{{ base }}";  // Pasamos el nombre de la base a script.js
</script>

</body>
</html>
